version: '3'
services:
  postgres:
    image: postgres:alpine
    ports:
      - '5432:5432'
    volumes:
      - /data/postgres:/data/postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=greenify

  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
